@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  margin: 2% 8%;
}

a {
  text-decoration: none;
}

section,
footer {
  margin: 0 8%;
}

/* START: Nav Menu  */

.nav-main-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.914vw;
}

.logo-colored {
  color: #3252df;
}

.logo-noncolored {
  color: #152c5b;
}

.nav-sub-ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #152c5b;
  font-size: 1.484vw;
  transition: all 0.7s;
}

.nav-link:hover {
  font-weight: 600;
}

hr {
  border-top: 1px solid #e5e5e5;
}

/* START: Section header */

h1 {
  font-size: 3.412vw;
  font-weight: 800;
  -webkit-text-fill-color: #152c5b;
  -webkit-text-stroke: 1px;
  text-shadow: 3px 4px 7px rgba(77, 74, 67, 0.8);
}

.sect-header {
  margin-top: 5%;
}

.ul-header-main {
  display: flex;
  list-style: none;
  width: 100%;
  gap: 35px;
  align-content: center;
}

.ul-header-main > li {
  width: 50%;
}

.ul-header-main > li:nth-child(1) {
  padding-right: 5%;
}

.header-text {
  width: 75%;
  font-size: 1.314vw;
  color: #b0b0b0;
  margin: 5% 0;
}

.show-me-now {
  background-color: #3252df;
  color: #fff;
  width: 45%;
  height: 3.586vw;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-size: 1.314vw;
  transition: all 0.7s;
  border: none;
  cursor: pointer;
}

.show-me-now:hover {
  background-color: #0b2dc4;
}

.show-me-link {
  text-decoration: none;
}

.ul-header-info {
  display: flex;
  list-style: none;
  margin-top: 15%;
  justify-content: space-between;
}

.info-img {
  width: 3vw;
}

.info-img img {
  width: 100%;
}

.info-detail {
  display: flex;
  font-size: 1.314vw;
}

.info-detail span {
  color: #152c5b;
}

.info-detail p {
  color: #b0b0b0;
}

.h-img-container {
  width: 100%;
  position: relative;
}

.h-img-container img {
  width: 90%;
  height: auto;
  z-index: 1;
  position: absolute;
}

.h-img-bg {
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 1;
}

/* START: Most Picked Section */

.sect-most-picked {
  margin-top: 5%;
}

.p-heading1 {
  color: #152c5b;
  font-weight: 600;
  font-size: 1.612vw;
  margin-bottom: 1%;
}

.ul-most-picked {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.inner-ul-picked {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 0.986vw;
}

.main-picked {
  width: 28.112vw;
  position: relative;
}

.main-picked img {
  width: 100%;
  height: 32.914vw;
  border-radius: 15px;
}

.main-price {
  background-color: #ff498b;
  text-align: center;
  align-content: center;
  height: 2.512vw;
  border-radius: 0 15px 0 15px;
  width: 60%;
  top: 0;
  right: 0;
  color: #fff;
  position: absolute;
  font-size: 1.314vw;
}

.main-price > span {
  font-weight: 800;
}

.img-text {
  position: absolute;
  bottom: 1.312vw;
  left: 1.312vw;
}

.text-name {
  font-size: 1.614vw;
  color: #ffff;
}

.text-loc {
  font-size: 1.314vw;
  color: #ffff;
}

.sub-picked {
  width: 100%;
  position: relative;
}

.sub-picked img {
  width: 100%;
  height: 15.714vw;
  border-radius: 15px;
}

/* START: Beauty backyard Cat Section */

.sect-category1 {
  margin-top: 5%;
}

.ul-cat1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1.512vw;
}

.ul-cat1 li {
  width: 21.512vw;
}

.ul-cat1 li img {
  width: 100%;
  margin-bottom: 5%;
}

.text-name-cat {
  font-size: 1.614vw;
  color: #152c5b;
}

.text-detail-cat {
  font-size: 1.314vw;
  color: #b0b0b0;
}

.cat1-div {
  position: relative;
}

/* START: Large living room Cat Section */

.sect-category2 {
  margin-top: 5%;
}

/* START: Appartment with kitchen Cat Section */

.sect-category3 {
  margin-top: 5%;
}

/* START: Testimonial Section */

.sect-testimonial {
  margin-top: 5%;
}

.ul-testi-main {
  display: flex;
  list-style: none;
  align-items: center;
}

.ul-testi-main > li:nth-child(1) {
  width: 40%;
}
.ul-testi-main > li:nth-child(2) {
  width: 60%;
}

.div-testi-img {
  position: relative;
  width: 25.312vw;
  height: 33.333vw;
}

.div-testi-img img {
  width: 100%;
  height: 100%;
}

.testi-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3.312vw;
  left: 3.312vw;
  border-radius: 15px 15px 100px 15px;
}

.pt-heading {
  color: #152c5b;
  font-size: 1.612vw;
  margin-bottom: 7%;
}

.ul-stars {
  display: flex;
  list-style: none;
}

.ul-stars li {
  width: 6%;
}

.ul-stars li img {
  width: 100%;
}

.pt-text {
  font-size: 2.713vw;
  color: #152c5b;
}

.pt-by {
  color: #b0b0b0;
  font-size: 1.612vw;
  padding-top: 5px;
  padding-bottom: 35px;
}

/* START: Footer section */

.footer-hr {
  margin-top: 8%;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ul-footer {
  display: flex;
  list-style: none;
  color: #b0b0b0;
  font-size: 1.214vw;
}

.ul-footer a {
  color: #b0b0b0;
  transition: all 0.7s;
}

.ul-footer a:hover {
  color: #152c5b;
}

.footer-title {
  margin-bottom: 5%;
}

.footer-title.this {
  font-size: 1.314vw;
  color: #152c5b;
}

.ul-footer li {
  width: 25%;
}

.ul-footer li:nth-child(1) {
  width: 40%;
  padding-right: 10%;
}

.copyright {
  color: #b0b0b0;
  font-size: 1.314vw;
  text-align: center;
  padding-left: 8%;
  margin-top: 3%;
}

/* ************************ HAMBURGER MENU************************* */

.navbar:nth-child(3) {
  text-align: right;
}

.nav-link {
  width: 100%;
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 5.814vw;
  height: 0.698vw;
  margin: 1.163vw auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger .active {
  background-color: black;
}

/* add only if a few links available */
/* For Hamburger Menu Unscrollable body */
.fixed_body {
  overflow: hidden;
  block-size: 100%;
}

/* *************************************************************************
                         Responsive: TABLET 
************************************************************************* */
@media screen and (max-width: 768px) {
  /* Tablet: Nav section */

  .logo {
    font-size: 3.914vw;
  }

  .nav-link {
    font-size: 2.384vw;
  }

  /* Tablet: Header section */

  h1 {
    font-size: 3.812vw;
  }

  .header-text {
    font-size: 1.914vw;
  }

  .show-me-now {
    font-size: 2.214vw;
    width: 85%;
    height: 4.186vw;
  }

  .info-img {
    width: 3.8vw;
  }

  .info-detail {
    font-size: 1.714vw;
  }

  .h-img-container img {
    height: 39.063vw;
  }

  .h-img-bg {
    top: 2rem;
  }

  /* Tablet: Most Picked Section */

  .p-heading1 {
    font-size: 2.612vw;
  }

  .ul-most-picked {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .main-picked {
    width: 100%;
  }

  .sub-picked {
    height: 23.438vw;
  }

  .sub-picked > img {
    height: 100%;
  }

  .text-name {
    font-size: 2.614vw;
  }

  .text-loc {
    font-size: 2.314vw;
  }

  .main-price {
    font-size: 2.314vw;
    height: 4.512vw;
  }

  /* Tablet: Each Categories Section */

  .ul-cat1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cat1-div {
    width: 40.497vw;
  }

  .text-name-cat {
    font-size: 2.614vw;
  }

  .text-detail-cat {
    font-size: 2.314vw;
  }

  /* Tablet: Testimonial Section */

  .pt-heading {
    font-size: 2.612vw;
  }

  .ul-stars li {
    width: 8%;
  }

  .pt-text {
    font-size: 3.713vw;
    color: #152c5b;
  }

  .pt-by {
    font-size: 2.612vw;
  }

  .div-testi-img {
    height: 40.333vw;
  }

  /* Tablet: Footer Section */

  .ul-footer {
    flex-wrap: wrap;
    font-size: 2.214vw;
  }

  .footer-title {
    justify-content: center;
  }

  .ul-footer li {
    width: 33%;
  }

  .ul-footer > li:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .footer-title.this {
    font-size: 2.314vw;
  }

  .copyright {
    font-size: 2.314vw;
  }
}

/* *************************************************************************
                         Responsive: MOBILE 
************************************************************************* */

@media screen and (max-width: 430px) {
  .hamburger {
    display: block;
    align-content: center;
    /* changed::::: */
    position: absolute;
    right: 5.389vw;
    top: 2.126vw;
    z-index: 3;
  }

  .hamburger.active .bar {
    background-color: gray;
  }

  /* TABLET: Hamburger animation */

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* TABLET: Hides the nav links upon click */

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    height: 110vh;
    margin: 0;
    right: -100%;
    top: -12px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    margin: 16px;
    justify-content: left;
    width: 75%;
    border-bottom: 1px solid #fce7e3;
  }

  .nav-link {
    color: #566251;
    font-size: 20px;
  }

  .nav-item:nth-child(1) {
    padding-top: 80px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu div {
    width: 100%;
  }

  /* TABLET: Extra utility classes to be added with JS */

  .nav-active {
    transform: translateX(0);
  }

  #hamburger.toggle div {
    background-color: white;
  }

  .toggle #bar1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }

  .toggle #bar2 {
    opacity: 0;
  }

  .toggle #bar3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  /* END: HAMBURGER MENU */

  /* Mobile: Nav Menu */

  .sect-header {
    margin-top: 10%;
  }

  .logo {
    font-size: 5.914vw;
  }

  .header-mobile-div {
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  .hide {
    display: none;
  }

  .header-mobile-div {
    text-align: -webkit-center;
  }

  .ul-header-main {
    flex-wrap: wrap;
    counter-reset: item 2;
    flex-direction: column-reverse;
  }

  .ul-header-main > li {
    width: 100%;
  }

  .ul-header-main > li:nth-child(1) {
    text-align: -webkit-center;
  }

  .ul-header-info {
    width: 100%;
  }

  .h-img-container img {
    position: static;
    width: 100%;
    height: 75.333vw;
  }

  h1 {
    font-size: 5.812vw;
  }

  .header-text {
    font-size: 3.914vw;
  }

  .show-me-now {
    font-size: 4.214vw;
    width: 100%;
    height: 7.186vw;
  }

  .info-img {
    width: 6.8vw;
  }

  .info-detail {
    font-size: 3.714vw;
  }

  /* Mobile: Most Picked Section */

  .p-heading1 {
    font-size: 4.612vw;
    margin-top: 20%;
  }

  .text-name {
    font-size: 5.614vw;
  }

  .text-loc {
    font-size: 4.314vw;
  }

  .main-price {
    font-size: 4.314vw;
    height: 6.512vw;
  }

  .inner-ul-picked {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.986vw;
  }

  .main-picked img {
    height: 35.914vw;
  }

  /* Mobile: Category Sections */

  .sub-picked {
    height: 35.914vw;
  }

  .ul-cat1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .ul-cat1 li {
    width: 100%;
  }

  .cat1-div {
    width: 100%;
  }

  .cat1-div img {
    width: 100%;
    height: 35.914vw;
  }

  .text-name-cat {
    font-size: 4.614vw;
  }

  .text-detail-cat {
    font-size: 4.314vw;
  }

  /* Mobile: Testimonial Section */

  .sect-testimonial {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .pt-heading {
    font-size: 4.612vw;
  }

  .ul-stars li {
    width: 10%;
  }

  .pt-text {
    font-size: 5.713vw;
    color: #152c5b;
  }

  .pt-by {
    font-size: 4.612vw;
  }

  .ul-testi-main {
    display: grid;
  }

  .testi-img {
    position: static;
  }

  .ul-testi-main > li:nth-child(1) {
    width: 100%;
  }

  .div-testi-img {
    height: 75.333vw;
    width: 100%;
  }

  .ul-stars li {
    width: 10%;
  }

  .ul-testi-main > li:nth-child(2) {
    padding-top: 15%;
    width: 100%;
  }

  /* Mobile: Footer Section */

  .ul-footer {
    display: grid;
    font-size: 4.214vw;
    text-align: center;
  }

  .ul-footer > li {
    width: 100%;
    padding-bottom: 10%;
  }

  .footer-title.this {
    font-size: 4.314vw;
  }
  .copyright {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 4.314vw;
  }

  .ul-footer li:nth-child(1) {
    padding-right: 0;
  }
}
