@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  margin: 2% 8%;
}

h2 {
  font-size: 2.412vw;
  font-weight: 800;
  color: #152c5b;
}

a {
  text-decoration: none;
}

section,
footer {
  margin: 0 8%;
}

/* START: Nav Menu  */

.nav-main-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.914vw;
}

.logo-colored {
  color: #3252df;
}

.logo-noncolored {
  color: #152c5b;
}

.nav-sub-ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #152c5b;
  font-size: 1.484vw;
  transition: all 0.7s;
}

.nav-link:hover {
  font-weight: 600;
}

hr {
  border-top: 1px solid #e5e5e5;
}

/* START: Footer section */

.footer-hr {
  margin-top: 8%;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ul-footer {
  display: flex;
  list-style: none;
  color: #b0b0b0;
  font-size: 1.214vw;
}

.ul-footer a {
  color: #b0b0b0;
  transition: all 0.7s;
}

.ul-footer a:hover {
  color: #152c5b;
}

.footer-title {
  margin-bottom: 5%;
}

.footer-title.this {
  font-size: 1.314vw;
  color: #152c5b;
}

.ul-footer li {
  width: 25%;
}

.ul-footer li:nth-child(1) {
  width: 40%;
  padding-right: 10%;
}

.copyright {
  color: #b0b0b0;
  font-size: 1.314vw;
  text-align: center;
  padding-left: 8%;
  margin-top: 3%;
}

/* ************MAIN SECTION************ */

/* START: Title Section */

.sect-title {
  margin-top: 5%;
}

.ul-title {
  display: flex;
  align-items: center;
  list-style: none;
  color: #b0b0b0;
  font-size: 1.314vw;
}

.ul-title li:nth-child(1) {
  width: 43%;
  display: flex;
}

.link-previous {
  color: #b0b0b0;
}

.link-previous:hover {
  color: #152c5b;
  transition: all 0.6s;
}

.link-now {
  color: #152c5b;
}

.title-content {
  text-align: center;
}

/* START: House Image Section */

.sect-img {
  margin-top: 3%;
}

.ul-house-img {
  display: flex;
  list-style: none;
  gap: 10px;
}

.ul-house-img img {
  border-radius: 15px;
}

.ul-house-img-side {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
}

.main-img {
  width: 46.312vw;
}

.main-img img {
  width: 100%;
  height: 37.312vw;
}

.sub-img {
  width: 36.312vw;
}

.sub-img img {
  width: 100%;
  height: 18.512vw;
}

/* START: About Place Section */

.sect-about {
  margin-top: 3%;
}

.ul-about {
  display: flex;
  list-style: none;
  font-size: 1.314vw;
}

.ul-about > li:nth-child(1) {
  width: 56%;
  padding-right: 10.312vw;
  color: #b0b0b0;
}

.ul-about > li:nth-child(2) {
  width: 44%;
}

.p-heading1 {
  color: #152c5b;
  font-weight: 600;
  font-size: 1.612vw;
  margin-bottom: 1%;
}

.amenities {
  margin-top: 10%;
}

.ul-amenities {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.ul-amenities li {
  padding-bottom: 20px;
}

.amenities-detail {
  display: flex;
}

.amenities-numb {
  color: #152c5b;
}

.amenities-ico {
  width: 2.512vw;
}

.amenities-ico img {
  width: 100%;
}

.container-booking {
  border: 1px solid #e5e5e5;
  border-radius: 15px;
  padding: 5.312vw;
  width: 100%;
  align-items: center;
}

.div-price {
  margin: 5% 0;
  display: flex;
  color: #b0b0b0;
  font-size: 2.5vw;
}

.p-price {
  color: #1abc9c;
}

.p-blue-t {
  color: #152c5b;
}

.pick-nights {
  width: 100%;
  display: flex;
  margin-top: 5%;
  margin-bottom: 8%;
}

.minus {
  background-color: #e74c3c;
  border-radius: 5px;
  height: 3.125vw;
  width: 3.125vw;
  text-align: center;
  align-content: center;
  color: #fff;
  font-size: 2.083vw;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.minus:hover {
  background-color: #c01e0c;
}

.plus {
  background-color: #1abc9c;
  border-radius: 5px;
  height: 3.125vw;
  width: 3.125vw;
  text-align: center;
  align-content: center;
  color: #fff;
  font-size: 2.083vw;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
  border: none;

  /* Can't highlight */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.plus:hover {
  background-color: #0d9479;
}

.nights {
  background-color: #f5f6f8;
  height: 3.125vw;
  width: 20.125vw;
  text-align: center;
  align-content: center;
  color: #152c5b;
}

.date-picker {
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
}

.div-d-picker {
  width: 100%;
}

.div-d-picker img {
  width: 100%;
  height: auto;
}

.picked-date {
}

.picked-date > input {
  width: 23.325vw;
  height: 2.592vw;
  text-align: center;
  align-content: center;
  background-color: #f5f6f8;
  color: #152c5b;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.283vw;
}

.div-total {
  display: flex;
}

.div-total {
  color: #b0b0b0;
  margin-bottom: 10%;
}

.p-blue-t.bold {
  font-weight: 600;
}

.btn-book-now {
  background-color: #3252df;
  color: #fff;
  width: 100%;
  height: 3.586vw;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-size: 1.514vw;
  border: none;
  transition: all 0.7s;
  cursor: pointer;
}

.btn-book-now:hover {
  background-color: #0b2dc4;
}

/* START: Treasure Section */

.sect-treasure {
  margin-top: 3%;
}

.ul-cat1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 1.512vw;
}

.ul-cat1 li {
  width: 21.512vw;
}

.ul-cat1 li img {
  width: 100%;
  margin-bottom: 5%;
}

.text-name-cat {
  font-size: 1.614vw;
  color: #152c5b;
}

.text-detail-cat {
  font-size: 1.314vw;
  color: #b0b0b0;
}

.cat1-div {
  position: relative;
}

.main-price {
  background-color: #ff498b;
  text-align: center;
  align-content: center;
  height: 2.512vw;
  border-radius: 0 15px 0 15px;
  width: 60%;
  top: 0;
  right: 0;
  color: #fff;
  position: absolute;
  font-size: 1.314vw;
}

.main-price > label {
  font-weight: 800;
}

/* START: Testimonial Section */

.sect-testimonial {
  margin-top: 5%;
}

.ul-testi-main {
  display: flex;
  list-style: none;
  align-items: center;
}

.ul-testi-main > li:nth-child(1) {
  width: 40%;
}
.ul-testi-main > li:nth-child(2) {
  width: 60%;
}

.div-testi-img {
  position: relative;
  width: 25.312vw;
}

.div-testi-img img {
  width: 100%;
}

.testi-img {
  position: absolute;
  top: 3.312vw;
  left: 3.312vw;
  border-radius: 15px 15px 100px 15px;
}

.pt-heading {
  color: #152c5b;
  font-size: 1.612vw;
  margin-bottom: 7%;
}

.ul-stars {
  display: flex;
  list-style: none;
}

.ul-stars li {
  width: 6%;
}

.ul-stars li img {
  width: 100%;
}

.pt-text {
  font-size: 2.713vw;
  color: #152c5b;
}

.pt-by {
  color: #b0b0b0;
  font-size: 1.612vw;
  padding-top: 5px;
  padding-bottom: 35px;
}

.show-me-now {
  background-color: #3252df;
  color: #fff;
  width: 45%;
  height: 3.586vw;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-size: 1.314vw;
  transition: all 0.7s;
}

.show-me-now:hover {
  background-color: #0b2dc4;
}

/* ************************ HAMBURGER MENU************************* */

.navbar:nth-child(3) {
  text-align: right;
}

.nav-link {
  width: 100%;
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 5.814vw;
  height: 0.698vw;
  margin: 1.163vw auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger .active {
  background-color: black;
}

/* add only if a few links available */
/* For Hamburger Menu Unscrollable body */
.fixed_body {
  overflow: hidden;
  block-size: 100%;
}

/* *************************************************************************
                         Responsive: TABLET 
************************************************************************* */

@media screen and (max-width: 768px) {
  /* Tablet: Nav section */

  .logo {
    font-size: 3.914vw;
  }

  .nav-link {
    font-size: 2.384vw;
  }

  /* Tablet: Header section */

  .ul-title {
    font-size: 2.314vw;
  }

  .ul-title li:nth-child(1) {
    width: 40%;
  }

  h2 {
    font-size: 4.112vw;
    font-weight: 800;
    color: #152c5b;
  }

  /* Tablet: About Section */

  .p-heading1 {
    font-size: 2.812vw;
  }

  .ul-about {
    font-size: 1.954vw;
  }

  .ul-amenities {
    gap: 5px;
  }

  .picked-date > input {
    font-size: 1.954vw;
  }

  .div-total {
    flex-wrap: wrap;
  }

  .btn-book-now {
    height: 4.586vw;
    font-size: 2.514vw;
  }

  /* Tablet: Treasure to Choose Section */

  .ul-cat1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cat1-div {
    width: 40.497vw;
  }

  .text-name-cat {
    font-size: 2.614vw;
  }

  .text-detail-cat {
    font-size: 2.314vw;
  }

  .main-price {
    font-size: 2.314vw;
    height: 4.512vw;
  }

  /* Tablet: Testimonial Section */

  .pt-heading {
    font-size: 2.612vw;
  }

  .ul-stars li {
    width: 8%;
  }

  .pt-text {
    font-size: 3.713vw;
    color: #152c5b;
  }

  .pt-by {
    font-size: 2.612vw;
  }

  .div-testi-img {
    height: 40.333vw;
  }

  .show-me-now {
    font-size: 2.214vw;
    width: 85%;
    height: 4.186vw;
  }

  /* Tablet: Footer Section */

  .ul-footer {
    flex-wrap: wrap;
    font-size: 2.214vw;
  }

  .footer-title {
    justify-content: center;
  }

  .ul-footer li {
    width: 33%;
  }

  .ul-footer > li:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .footer-title.this {
    font-size: 2.314vw;
  }

  .copyright {
    font-size: 2.314vw;
  }
}

/* *************************************************************************
                         Responsive: MOBILE 
************************************************************************* */

@media screen and (max-width: 430px) {
  .hamburger {
    display: block;
    align-content: center;
    /* changed::::: */
    position: absolute;
    right: 5.389vw;
    top: 2.126vw;
    z-index: 3;
  }

  .hamburger.active .bar {
    background-color: gray;
  }

  /* TABLET: Hamburger animation */

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* TABLET: Hides the nav links upon click */

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    height: 110vh;
    margin: 0;
    right: -100%;
    top: -12px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    margin: 16px;
    justify-content: left;
    width: 75%;
    border-bottom: 1px solid #fce7e3;
  }

  .nav-link {
    color: #566251;
    font-size: 20px;
  }

  .nav-item:nth-child(1) {
    padding-top: 80px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu div {
    width: 100%;
  }

  /* TABLET: Extra utility classes to be added with JS */

  .nav-active {
    transform: translateX(0);
  }

  #hamburger.toggle div {
    background-color: white;
  }

  .toggle #bar1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }

  .toggle #bar2 {
    opacity: 0;
  }

  .toggle #bar3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  /* END: HAMBURGER MENU */

  /* Mobile: Nav Menu */

  .sect-header {
    margin-top: 10%;
  }

  .logo {
    font-size: 5.914vw;
  }

  /* Mobile: Header Title */

  .ul-title {
    display: grid;
    font-size: 3.314vw;
  }

  .ul-title li:nth-child(1) {
    width: 100%;
    margin-bottom: 5%;
  }

  h2 {
    font-size: 6.112vw;
  }

  .ul-house-img {
    display: grid;
  }

  .main-img {
    width: 100%;
    height: 40.312vw;
  }

  .main-img img {
    width: 100%;
    height: 100%;
  }

  .ul-house-img-side {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.188vw;
  }

  .sub-img {
    width: 100%;
  }

  .sub-img img {
    height: 40.312vw;
    border-radius: 15px;
  }

  /* Mobile: About Section */

  .ul-about {
    display: grid;
    font-size: 3.314vw;
  }

  .ul-about > li:nth-child(1) {
    width: 100%;
    text-align: justify;
    padding-right: 0;
  }

  .p-heading1 {
    font-size: 4.812vw;
  }

  .amenities-ico {
    width: 6.512vw;
  }

  .ul-about > li:nth-child(2) {
    margin: 15% 0;
    width: 100%;
  }

  .div-price {
    font-size: 5.5vw;
  }

  .minus {
    height: 7.125vw;
    width: 7.125vw;
    font-size: 5.083vw;
  }

  .plus {
    height: 7.125vw;
    width: 7.125vw;
    font-size: 5.083vw;
  }

  .nights {
    background-color: #f5f6f8;
    height: 7.125vw;
    width: 100%;
    text-align: center;
    align-content: center;
    color: #152c5b;
  }

  .div-d-picker {
    width: 7.213vw;
  }

  .div-d-picker img {
    height: 7.531vw;
  }

  .picked-date > input {
    width: 100%;
    height: 7.531vw;
    font-size: 3.314vw;
  }

  .picked-date {
    width: 100%;
  }

  .btn-book-now {
    font-size: 4.214vw;
    height: 7.186vw;
  }

  /* Mobile: Category Sections */

  .sub-picked {
    height: 35.914vw;
  }

  .ul-cat1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .ul-cat1 li {
    width: 100%;
  }

  .cat1-div {
    width: 100%;
  }

  .cat1-div img {
    width: 100%;
    height: 35.914vw;
  }

  .text-name-cat {
    font-size: 4.614vw;
  }

  .text-detail-cat {
    font-size: 4.314vw;
  }

  .main-price {
    font-size: 4.314vw;
    height: 6.512vw;
  }

  /* Mobile: Testimonial Section */

  .sect-testimonial {
    margin-top: 20%;
    margin-bottom: 15%;
  }

  .pt-heading {
    font-size: 4.612vw;
  }

  .ul-stars li {
    width: 10%;
  }

  .pt-text {
    font-size: 5.713vw;
    color: #152c5b;
  }

  .pt-by {
    font-size: 4.612vw;
  }

  .ul-testi-main {
    display: grid;
  }

  .testi-img {
    position: static;
  }

  .ul-testi-main > li:nth-child(1) {
    width: 100%;
  }

  .div-testi-img {
    height: 75.333vw;
    width: 100%;
  }

  .div-testi-img img {
    height: 100%;
    width: 100%;
  }

  .ul-stars li {
    width: 10%;
  }

  .ul-testi-main > li:nth-child(2) {
    padding-top: 15%;
    width: 100%;
  }

  .hide {
    display: none;
  }

  .show-me-now {
    font-size: 4.214vw;
    width: 100%;
    height: 7.186vw;
  }

  /* Mobile: Footer Section */

  .ul-footer {
    display: grid;
    font-size: 4.214vw;
    text-align: center;
  }

  .ul-footer > li {
    width: 100%;
    padding-bottom: 10%;
  }

  .footer-title.this {
    font-size: 4.314vw;
  }
  .copyright {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 4.314vw;
  }

  .ul-footer li:nth-child(1) {
    padding-right: 0;
  }
}
