@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  margin: 2% 8%;
}

a {
  text-decoration: none;
}

section,
footer {
  margin: 0 8%;
}

/* START: Nav Menu  */

.nav-main-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  font-size: 1.914vw;
}

.logo-colored {
  color: #3252df;
}

.logo-noncolored {
  color: #152c5b;
}

.nav-sub-ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: #152c5b;
  font-size: 1.484vw;
  transition: all 0.7s;
}

.nav-link:hover {
  font-weight: 600;
}

ul {
  list-style: none;
}

hr {
  border-top: 1px solid #e5e5e5;
}

/* START: Footer section */

.footer-hr {
  margin-top: 8%;
}

footer {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ul-footer {
  display: flex;
  list-style: none;
  color: #b0b0b0;
  font-size: 1.214vw;
}

.ul-footer a {
  color: #b0b0b0;
  transition: all 0.7s;
}

.ul-footer a:hover {
  color: #152c5b;
}

.footer-title {
  margin-bottom: 5%;
}

.footer-title.this {
  font-size: 1.314vw;
  color: #152c5b;
}

.ul-footer li {
  width: 25%;
}

.ul-footer li:nth-child(1) {
  width: 40%;
  padding-right: 10%;
}

.copyright {
  color: #b0b0b0;
  font-size: 1.314vw;
  text-align: center;
  padding-left: 8%;
  margin-top: 3%;
}

/* ************MAIN SECTION************ */

/* START: Header Link */

/* START: Title Section */

.sect-title {
  margin-top: 5%;
}

.ul-title {
  list-style: none;
  color: #b0b0b0;
  font-size: 1.314vw;
}

.ul-title li:nth-child(1) {
  display: flex;
}

.link-previous {
  color: #b0b0b0;
}

.link-previous:hover {
  color: #152c5b;
  transition: all 0.6s;
}

.link-now {
  color: #152c5b;
}

.link-previous {
  color: #b0b0b0;
}

.link-previous:hover {
  color: #152c5b;
  transition: all 0.6s;
}

.link-now {
  color: #152c5b;
}

/* START: Header img section */

.sect-head-img img {
  width: 100%;
  margin-top: 2%;
  height: 38.194vw;
}

/* START: Story Details Section */

.sect-story-detail {
  margin-top: 3%;
}

.ul-story-detail {
  display: flex;
  gap: 10%;
}

.date-published {
  display: flex;
  font-size: 1.214vw;
  align-items: baseline;
  color: #b0b0b0;
}

.p-heading1 {
  color: #152c5b;
  font-weight: 600;
  font-size: 1.612vw;
  margin-bottom: 1%;
  text-align: left;
}

.div-description {
  font-size: 1.314vw;
  color: #b0b0b0;
}

.head-title {
  font-size: 2.512vw;
  font-weight: 800;
  color: #152c5b;
  margin-bottom: 3%;
}

.author-details {
  display: flex;
  margin-top: 4%;
  font-size: 1.314vw;
  color: #b0b0b0;
  gap: 5%;
}

.author-div-img {
  width: 3.472vw;
  height: 3.472vw;
}

.author-div-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-name {
  color: #152c5b;
  font-size: 1.514vw;
  font-weight: 600;
}

.div-full-detail {
  margin-top: 3%;
  font-size: 1.314vw;
  color: #b0b0b0;
}

/* START: LI More Stories  */

.ul-more-stories li {
  padding-bottom: 10%;
}

.date-published-more {
  display: flex;
  font-size: 1.214vw;
  align-items: baseline;
  color: #b0b0b0;
}

.p-heading1-more {
  color: #152c5b;
  font-weight: 600;
  font-size: 1.412vw;
  margin-bottom: 1%;
}

.div-description-more {
  font-size: 1.314vw;
  color: #b0b0b0;
}

.head-title-more {
  font-size: 1.412vw;
  font-weight: 800;
  color: #152c5b;
  margin-bottom: 3%;
}

.author-details-more {
  display: flex;
  margin-top: 4%;
  font-size: 1.214vw;
  color: #b0b0b0;
  gap: 5%;
}

.author-div-img-more {
  width: 3.472vw;
  height: 3.472vw;
}

.author-div-img-more img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.author-name-more {
  color: #152c5b;
  font-size: 1.314vw;
  font-weight: 600;
}

.div-cat-img img {
  width: 31.25vw;
  height: 20.833vw;
}

.link-see-more {
  color: #152c5b;
}

.div-load-more {
  text-align: center;
}

/* START: Load More Area */

.show-me-now {
  background-color: #3252df;
  color: #fff;
  width: 70%;
  height: 3.586vw;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  font-size: 1.314vw;
  transition: all 0.7s;
  cursor: pointer;
  border: none;
}

.show-me-now:hover {
  background-color: #0b2dc4;
}

/* ************************ HAMBURGER MENU************************* */

.navbar:nth-child(3) {
  text-align: right;
}

.nav-link {
  width: 100%;
  transition: 0.7s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 5.814vw;
  height: 0.698vw;
  margin: 1.163vw auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #3252df;
}

.hamburger .active {
  background-color: #3252df;
}

/* add only if a few links available */
/* For Hamburger Menu Unscrollable body */
.fixed_body {
  overflow: hidden;
  block-size: 100%;
}

/* *************************************************************************
                         Responsive: TABLET 
************************************************************************* */

@media screen and (max-width: 768px) {
  /* Tablet: Nav section */

  .logo {
    font-size: 3.914vw;
  }

  .nav-link {
    font-size: 2.384vw;
  }

  /* Tablet: Header section */

  .ul-title {
    font-size: 2.314vw;
  }

  /* Tablet: Story Details Section */

  .ul-story-detail {
    display: block;
  }

  .p-heading1 {
    font-size: 2.812vw;
  }

  .date-published {
    font-size: 1.954vw;
  }

  .head-title {
    font-size: 3.112vw;
  }

  .author-name {
    color: #152c5b;
    font-size: 2.314vw;
    font-weight: 600;
  }

  .author-details {
    font-size: 1.814vw;
  }

  .author-div-img {
    width: 6.472vw;
    height: 6.472vw;
  }

  .div-img-head img {
    height: 44.978vw;
  }

  .div-full-detail {
    font-size: 1.954vw;
  }

  /* Tablet: More Related Stories Section */

  .div-more-stories {
    margin-top: 5%;
  }

  .ul-more-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5%;
  }

  .div-cat-img img {
    width: 39.25vw;
    height: 20.833vw;
  }

  .p-heading1-more {
    font-size: 2.812vw;
  }

  .date-published-more {
    font-size: 1.954vw;
  }

  .head-title-more {
    font-size: 2.812vw;
  }

  .div-description-more {
    font-size: 1.954vw;
  }

  .author-name-more {
    color: #152c5b;
    font-size: 2.314vw;
    font-weight: 600;
  }

  .author-details-more {
    font-size: 1.814vw;
  }

  .author-div-img-more {
    width: 6.472vw;
    height: 6.472vw;
  }

  .div-img-head-more img {
    height: 44.978vw;
  }

  .show-me-now {
    font-size: 2.214vw;
    width: 50%;
    height: 4.186vw;
  }

  /* Tablet: Footer Section */

  .ul-footer {
    flex-wrap: wrap;
    font-size: 2.214vw;
  }

  .footer-title {
    justify-content: center;
  }

  .ul-footer li {
    width: 33%;
  }

  .ul-footer > li:nth-child(1) {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }

  .footer-title.this {
    font-size: 2.314vw;
  }

  .copyright {
    font-size: 2.314vw;
  }
}

/* *************************************************************************
                         Responsive: MOBILE 
************************************************************************* */

@media screen and (max-width: 430px) {
  .hamburger {
    display: block;
    align-content: center;
    /* changed::::: */
    position: absolute;
    right: 5.389vw;
    top: 2.126vw;
    z-index: 3;
  }

  .hamburger.active .bar {
    background-color: #3252df;
  }

  /* TABLET: Hamburger animation */

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* TABLET: Hides the nav links upon click */

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    height: 110vh;
    margin: 0;
    right: -100%;
    top: -12px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: left;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    margin: 16px;
    justify-content: left;
    width: 75%;
    border-bottom: 1px solid #fce7e3;
  }

  .nav-link {
    color: #566251;
    font-size: 20px;
  }

  .nav-item:nth-child(1) {
    padding-top: 80px;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu div {
    width: 100%;
  }

  /* TABLET: Extra utility classes to be added with JS */

  .nav-active {
    transform: translateX(0);
  }

  #hamburger.toggle div {
    background-color: white;
  }

  .toggle #bar1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }

  .toggle #bar2 {
    opacity: 0;
  }

  .toggle #bar3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }

  /* END: HAMBURGER MENU */

  /* Mobile: Nav Menu */

  .sect-header {
    margin-top: 10%;
  }

  .logo {
    font-size: 5.914vw;
  }

  /* Mobile: Header Link */

  .ul-title {
    font-size: 3.314vw;
  }

  .p-heading1 {
    font-size: 4.812vw;
  }

  .date-published {
    font-size: 3.454vw;
  }

  .head-title {
    font-size: 6.112vw;
  }

  .div-description {
    font-size: 3.954vw;
  }

  .author-name {
    font-size: 3.514vw;
  }

  .author-details {
    font-size: 3.214vw;
  }

  .author-div-img {
    width: 10.472vw;
    height: 10.472vw;
  }

  .div-full-detail {
    font-size: 3.954vw;
  }

  /* Mobile: More related stories section */

  .div-more-stories {
    margin-top: 15%;
  }

  .ul-more-stories {
    display: block;
  }

  .ul-more-stories li {
    width: 100%;
  }

  .div-cat-img img {
    width: 83.25vw;
    height: 50.833vw;
  }

  .p-heading1-more {
    font-size: 4.312vw;
  }

  .date-published-more {
    font-size: 3.454vw;
  }

  .head-title-more {
    font-size: 5.112vw;
  }

  .div-description-more {
    font-size: 3.954vw;
  }

  .author-name-more {
    font-size: 3.514vw;
  }

  .author-details-more {
    font-size: 3.214vw;
  }

  .author-div-img-more {
    width: 10.472vw;
    height: 10.472vw;
  }

  .ul-more-stories li {
    width: auto;
  }

  .show-me-now {
    font-size: 4.214vw;
    width: 100%;
    height: 7.186vw;
  }

  /* Mobile: Footer Section */

  .ul-footer {
    display: grid;
    font-size: 4.214vw;
    text-align: center;
  }

  .ul-footer > li {
    width: 100%;
    padding-bottom: 10%;
  }

  .footer-title.this {
    font-size: 4.314vw;
  }
  .copyright {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 4.314vw;
  }

  .ul-footer li:nth-child(1) {
    padding-right: 0;
  }
}
